<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <footer class="col-md-12" id="pie" style="height: 94px;">
      <p align="center" style="position: relative; top: 5px;">
        Posted by: Grupo9
      </p>
      <p align="center" id="foot">
        Contact information:
        <a href="mailto:explosive77roses@gmail.com">
          explosive77roses@gmail.com</a
        >.
      </p>
    </footer>
  </body>
</html>
