<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactos</title>
  </head>
  <body class="pt-5">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-5" id="back">
          <u align="center"
            ><H1 id="titulo"><strong>Contactanos</strong> </H1></u
          >
        </div>
        <content class="col-md-12 pt-5">
          <div class="contact card col-md-12" align="center">
            <br />
            <br />
            <p>
              <span class="icon-instagram"> CDFS_Alquileres</span>
            </p>
            <p>
              <span class="icon-facebook"> CDFS Alquileres-Arg</span>
            </p>

            <p>
              <span class="icon-mail"> explosive77roses@gmail.com</span>
            </p>

            <p>
              <span class="icon-twitter"> @Alquileres.Arg.CDFS</span>
            </p>

            <p>
              <span class="icon-whatsapp"> 0388 422-6018</span>
            </p>
            <br />
            <br />
          </div>
        </content>
      </div>
    </div>
    <br />
    <br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br />

    <hr />
    <br />
  </body>
</html>
