.a1 {
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px solid #000000;
}

.a2 {
  color: white !important;
  width: 40%;
  padding-left: 20px;

  border-radius: 45px 0px 200px 0px;
  -moz-border-radius: 45px 0px 200px 0px;
  -webkit-border-radius: 45px 0px 200px 0px;
  background: -webkit-linear-gradient(
    top,
    rgb(13, 141, 184) 0%,
    rgb(13, 141, 184) 51%,
    rgb(13, 141, 184) 84%,
    rgb(13, 141, 184) 100%
  );
}

button {
  background-color: rgb(44, 44, 255);
  color: white !important;
  width: 20%;
  height: 60px;
  padding-left: 20px;

  border-radius: 200px 0px 200px 0px;
  -moz-border-radius: 200px 0px 200px 0px;
  -webkit-border-radius: 200px 0px 200px 0px;
}
.b2 {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.b2:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}
.b2:active {
  position: relative;
  top: 1px;
}
